body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    font-style: italic;
}
.element{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}