body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    font-style: italic;
    font-size: 4px;
}
.element{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}